* {
  box-sizing: border-box;
}

body {
  color: hsl(243, 87%, 12%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  margin: 0;
}
.container {
  margin-left: 0 auto;
  padding: 20px 50px;
  max-width: 100%;
}
.heading {
  font-family: "Raleway", sans-serif;
}
/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin-left: 40px;
}
nav ul li a {
  color: hsl(243, 87%, 12%);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

/*End navbar style */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex > div {
  flex: 1;
}
img {
  max-width: 100%;
}

/* section1 style */
.section1 {
  margin-bottom: 100px;
}
.section1-part1 {
  padding-right: 100px;
}
input {
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 2px;
  padding: 15px;
  font-weight: 700;
  flex: 0.7;
}
input::placeholder {
  color: hsl(0, 0%, 75%);
}
button {
  background-color: hsl(224, 93%, 58%);
  border: 1px solid hsl(224, 93%, 58%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-left: 8px;
  padding: 15px;
  color: white;
  flex: 0.3;
  font-size: 14px;
}
form {
  display: flex;
}
/*End section1 style */

/* section2 style */
.section2 {
  background-color: hsl(240, 75%, 98%);
  margin-top: 50px;
  position: relative;
  padding: 40px 0;
}
.section2::before {
  content: "";
  background-image: url(images/bg-curve-desktop.svg);
  background-position: center center;
  width: 100%;
  height: 60px;
  position: absolute;
  top: -60px;
  left: 0;
  background-size: cover;
}

.section2-part1 a {
  color: hsl(170, 45%, 43%);
}
.section2-part1 h5 {
  font-size: 29px;
}
.section2-part1 > p {
  font-size: 14px;
  width: 70%;
}
.box {
  background-color: white;
  padding: 25px;
  width: 50%;
  margin-top: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.box p {
  font-size: 14px;
}
.info {
  display: flex;
  margin-top: 20px;
}
.info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.info h5 {
  font-weight: 700;
  margin: 0;
}
.info p {
  margin: 0;
}
/*End section2 style */

/* section3 style */
.section3 {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 30px;
}
.flex-section3 h2 {
  font-size: 25px;
}
.flex-section3 p {
  font-size: 14px;
  width: 63%;
}

.section3 form {
  flex-direction: column;
  width: 80%;
}
.section3 form input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  border: none;
}
.section3 form button {
  width: 50%;
  margin-top: 20px;
}
/*End section3 style */

/* Footer Style */
footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  padding: 40px 0;
}
footer ul {
  list-style: none;
}
.flex > ul {
  flex: 1;
}
footer ul li {
  margin-bottom: 20px;
}
.footer-img {
  padding-left: 40px;
}
.footer-flex {
  align-items: flex-start;
}
.footer-flex img {
  margin-right: 10px;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .rounded {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-decoration: none;
}
/* End Footer Style */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .container {
    padding: 15px;
  }
  .section1 {
    margin-bottom: 100px;
  }
  .section1 p {
    font-size: 15px;
  }
  .section1 form {
    flex-direction: column;
  }
  .section1-part1 {
    padding: 0;
  }

  button {
    margin-left: 0;
    margin-top: 20px;
  }

  .imgLogo {
    width: 36%;
  }
  nav {
    margin-top: 9px;
  }
  nav ul li {
    margin-left: 10px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .flex {
    flex-direction: column-reverse;
  }

  footer {
    text-align: start;
    padding-left: 20px;
  }

  footer ul {
    padding: 0;
    width: 100%;
  }
  .footer-flex {
    flex-direction: column !important;
  }
  .footer-img {
    padding: 0;
  }

  .images {
    margin-top: 30px;
  }
  .section2::before {
    background-image: url(images/bg-curve-mobile.svg);
    height: 80px;
  }
  .section2-part1 h5 {
    font-size: 17px;
  }
  .section2-part1 p {
    text-align: start;
    font-size: 14px;
    width: 100%;
  }
  .section2-part1 a {
    font-size: 14px;
  }
  .box {
    width: 100%;
    text-align: left;
  }
  .flex > div {
    width: 100%;
  }

  .section3 {
    padding: 0;
  }
  .flex-section3 {
    flex-direction: column !important;
    padding: 20px;
  }
  .flex-section3 p {
    font-size: 14px;
    width: 100%;
  }
  .section3 form {
    width: 100%;
  }
  .section3 form input {
    flex: 1;
    margin-left: 0;
  }
  .section3 form button {
    width: 100%;
    margin-left: 0;
    margin-top: 11px;
  }
}
